/*Footer Deesign*/
.checker_section{
    float: left;
  }
  
  .checker_section .html_css_class {
    display: inline-block;
    margin: 1em;
  }
  
  .html_css_class img {
    width: 100px;
    border: 2px solid #0c0;
    border-radius: 10px;
  }