/*
Melakeselam Moges Mengistu (611124)
CS472 Web Application Programming
submission date: May 29, 2020

Task: create an ASCII animator with controllers that affect the behavior of 
the animation. The behaviour aspect is to be manipulated by javascript code
on external file linked to the HTML page - creating a web application. Separation
of concern is to be strictly followed by separating html, css and javascript 
codes onto independent files linked by the html file.

associated html file: ascii.html, 
associated javascript files: animations.js, ascii.js
*/
* {
    padding: 0px;
    margin: 0px;
    font-size: 14pt;
    font-weight: bold;
    font-family: sans-serif;
}

body {
    background-color: #CCCCFF;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 32pt;

}

#animWindow {
    width: 90%;
    height: 400px;
    font: bold 12pt monospace;
    margin-left: 5%;
    margin-right: 5%;
}

fieldset {
    display: inline;
    border: 5px solid #000000;
    vertical-align: top;
    text-align: center;
    padding: 10px;
    height: 50px;
}

button, select {
    padding: 3px 10px;
}

#validators {
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0.5;
}

















































































